/* CSS Document */
* { margin: 0; padding: 0; }
html { font-size: 100px; }
body { font-family: "ו", serif; font-size: 0.2rem; }
p { line-height: 140%; }
a {text-decoration: none;color: #000;}


.outer{width: 2.7rem;padding-top:0.5rem;margin:0 auto; }

.outPut{width: 2.2rem;height: 1rem;border: 1px solid #ccc;margin: 0 auto;border-radius: 10px 10px 0 0;background: #848586;
    box-shadow: -1px -1px 0 3px #888888;}

.sun{width: 2.0rem;height:0.2rem;text-align: right;margin-right: 0.01rem;}
.color{width: 0.1rem;height: 0.1rem;background: #494949;border: 1px solid #999;display: inline-block;margin:0 -0.05rem;}

.outPut_con{width: 2.0rem;height:0.6rem;margin: 0.1rem auto;border: 1px solid #2f2f2f;border-radius: 5px;background: #d6dddb;}
.outPut_con .Expression{width: 2.5rem;height:0.3rem;text-indent: 0.1rem;line-height: 1.5;}
.outPut_con .result{max-width: 2.4rem;height:0.3rem;text-align: right;line-height: 1.5;margin-right: 0.1rem;}

.wrapper{width: 2.0rem;padding: 0.1rem; margin: 0 auto;border: 1px solid #ccc;border-radius: 0 0 10px 10px;
    background: #848586;box-shadow: -1px 1px 0 3px #888888;line-height: 1.5;}
.wrapper .item{width: 0.3rem;height: 0.3rem;border: 1px solid #ddd;margin: 0.05rem;text-align: center; display: inline-block;
   background: #d6dddb;box-shadow: -1px 1px 1px 2px #565656;}
.eq{width: 0.8rem;height: 0.3rem;border: 1px solid #ddd;margin: 0.05rem;text-align: center; display: inline-block;
    background: #d6dddb;box-shadow: -1px 1px 1px 2px #565656;}

















